$color-primary: #27aabe;
$color-secondary: #1a1b1b;
$color-orange: #fc8c5e;
$color-bg: #e8e6e6;
$color-navbar-bg: #27aabe;
$circle1: #951a0c;
$circle2: #516faa;
$circle3: #399bc0;
$circle4: #0c1f86;


